#container
    section
        h1 Confirmación de<br/> SOAT Interseguro Online
        .datos-de-compra
            h2 Estos son los datos<br/> de tu compra
                span
                    img(src="images/check.png")
            
            ul 
                li
                    span(class="titulo")
                        |Placa
                    span(class="content")
                        |C6B447
                li
                    span(class="titulo")
                        |Modelo
                    span(class="content")
                        |COROLLA SPPRINTER
                    span(class="content")
                        |MARINO 51 C CETICOSTER
                li
                    span(class="titulo")
                        |Marca
                    span(class="content")
                        |SHAANXI HEAVY DUTY
                    span(class="content")
                        |AUTOMOBILE CO. LTD.
                li
                    span(class="titulo")
                        |Nº de pedido
                    span(class="content")
                        |507027
                li
                    span(class="titulo")
                        |Vigencia
                    span(class="content")
                        |Del 31/05/2018
                    span(class="content")
                        |al 31/05/2019

                li
                    span(class="titulo")
                        |Uso
                    span(class="content")
                        |Particular
            .datos-de-entrega
                .datos-de-entrega-info
                    .datos-block1
                        |Datos de <br/>entrega

                    .datos-block2
                        ul
                            li
                                span(class="tit-entrega")
                                    |Fecha y hora de entrega
                                span(class="detalle-entrega")
                                    |Miércoles 17/01/2018<br/>02:00 p.m   06:00 p.m

                            li
                                span(class="tit-entrega")
                                    |Dirección
                                span(class="detalle-entrega")
                                    |Av. Carlos Izaguirre<br/> 1234 lInce

                .datos-de-entrega-footer
                    p Por favor, espera al mensajero en el<br/> rango de hora que has establecido


    
    .compra-soat
        h3 Invita a tus amigos<br/> a comprar su SOAT
        h4 ¡Comparte!

        ul 
            li
                a(href="#" class="whatsapp")
                    img(src="images/icon-whatsapp.png")
                    span WhatsApp
            li
                a(href="#" class="facebook")
                    img(src="images/icon-facebook.png")
                    span Facebook
            
            li
                a(href="#" class="correo")
                    img(src="images/sobre.png")
                    span Correo

            li
                a(href="#" class="enlace")
                    img(src="images/icon-enlace.png")
                    span Copiar enlace
    .mundo-beneficios
        .logo-mundo
            .content-logo
                .img-logo
                    img(src="images/logo-mundo.png", alt="Logo Mundo Beneficios")

        .info-mundo
            p Ahora tienes acceso a descuentos<br/> y tarifas preferenciales a nivel nacional

            .bt-mundo 
                a(href="#") Conoce los beneficios aquí
    .deuda-consulta
        h4 Si tienes alguna duda o consulta,<br/> por favor comunícate al 

        span(class="telefono") (01) 500-0000

                    

                                