doctype html
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    title Soat Fisico
    meta(name='description', content="Soat Fisico")
    meta(name='keywords', content="Soat Fisico")
    meta(name='author', content="Soat Fisico")
    //- Facebook meta tags
    meta(property='og:title', content="Soat Fisico")
    meta(property='og:description', content="Soat Fisico")
    meta(property='og:type', content="Web")
    meta(property='og:url', content="")
    meta(property='og:image', content="")
    //- Favicon
    link(href="images/favicon.ico", rel='shortcut icon', type='image/x-icon')
    //- Css a Usar
    link(rel='stylesheet', href='css/style.css')

  body

    block header

    block content


    block footer