footer
    .legal
        P Desde el 31 de Julio de 2017 entró en vigencia el SOAT Electrónico de acuerdo al Decreto Supremo N° 012-2017-MTC. El SOAT Electrónico tiene las mismas coberturas que el SOAT Tradicional. Te enviaremos el certificado a tu correo electrónico y a tu celular o si prefieres puedes comprar el SOAT físico y te lo enviamos al lugar de tu elección. Aplican restricciones de entrega. Encuentra más información sobre las zonas de reparto aquí. Si al momento de recibir esta comunicación ya renovaste tu SOAT, te pedimos dejar sin efecto este aviso. Precios exclusivos para compras hechas a través de la web 
            a(href="https://www.interseguro.com.pe/soat/" target="_blank") www.interseguro.com.pe/soat/
        
    .info-interseguro
        img(src="images/logo-footer.png")
    
        .correo
            p Este correo electrónico fue enviado por Interseguro.<br/> Si no deseas recibir más comunicaciones haz clic 
                a(href="#" ) aquí.

        .direccion
            P Dirección: Av. Paseo de la República 3071, 
                span(class="corte") San Isidro - Lima 27 - Perú<br/> 
                a(href="#") servicios@interseguro.com.pe<br/>
                |®2018 Derechos reservados.