header
    .header-top
        a(href="#")
            img(src="images/logo.png", alt="Logo")
    .header-banner
        img(src="images/banner.jpg", alt="")
        .titulo-movil
            p ¡Tu SOAT esta <br/>en camino!
        .content-btn
            .btn-contacto
                span(class="tcontacto") Contáctenos
                span(class="tnumero") (01) 500-0000
